# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
cmd/main

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Terraform dependencies
deployments/docker/zitadel/terraform/.terraform/
deployments/docker/zitadel/terraform/.terraform.lock.hcl
deployments/docker/zitadel/terraform/terraform.tfstate
deployments/docker/zitadel/terraform/terraform.tfstate.backup

# The terraform auth data
deployments/docker/zitadel/terraform/admin-key.json
deployments/docker/zitadel/terraform/todo-api-go.json
deployments/docker/zitadel/terraform/readonly_pat.txt
deployments/docker/zitadel/terraform/readwrite_pat.txt
deployments/docker/zitadel/terraform/todo-api-go-key.json
